@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth !important;
  }
}

@layer components {
  .bg-animation:hover:after {
    content: "";
    --angle: 0deg;
    @apply rounded-xl absolute inset-0 z-0 bg-gradient-to-r from-transparent via-purple-500 to-transparent
  }

  .animate-shooting-star {
    animation: shooting-star 7s linear infinite;
    @apply h-[1px] w-[920px] absolute bg-gradient-to-r from-transparent from-0% to-zinc-700 to-100%
  }

  .animate-border-bottom {
    @apply before:absolute before:left-0 before:-bottom-1 before:h-[1px] before:w-full before:z-50 before:bg-zinc-200 before:origin-left before:scale-x-0 before:transition-transform hover:before:scale-x-100 after:absolute after:left-0 after:-bottom-1 after:z-0 after:h-[1px] after:w-full after:bg-zinc-600
  }
} 

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false
}

@keyframes rotate-animation {
  to {
    --angle: 360deg
  }
}

@keyframes shooting-star {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  40% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(70%);
  }
}

@supports (background: paint(houdini)) {
  .bg-animation:hover:after {
      animation: rotate-animation 7s linear infinite;
      background: linear-gradient(var(--angle),#52525b,#52525b,#407cff,#da8bff,#fb7185);
  }

  .animate-shooting-star {
    animation: shooting-star 7s linear infinite;
    background: linear-gradient(to right, transparent 0%, #3f3f46 100%);
  }
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
