@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-animation:hover:after {
    content: "";
    --angle: 0deg;
    @apply rounded-xl absolute inset-0 z-0 bg-gradient-to-r from-transparent via-purple-500 to-transparent
  }

  .animate-shooting-star {
    animation: shooting-star 7s linear infinite;
    @apply h-[1px] w-full bg-gradient-to-r from-transparent from-40% via-zinc-700 via-70% to-transparent to-0%;
  }
} 

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false
}

@keyframes rotate-animation {
  to {
    --angle: 360deg
  }
}

@keyframes shooting-star {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(100%);
  }
}

@supports (background: paint(houdini)) {
  .bg-animation:hover:after {
      animation: rotate-animation 7s linear infinite;
      background: linear-gradient(var(--angle),#52525b,#52525b,#407cff,#da8bff,#fb7185);
  }

  .animate-shooting-star {
    animation: shooting-star 7s linear infinite;
    background-image: linear-gradient(to right, transparent 40%, #3f3f46 70%, transparent 0%);
  }
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
