@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-animation:hover:after {
    content: "";
    --angle: 0deg;
    @apply rounded-xl absolute inset-0 z-0 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false
}

@keyframes rotate-animation {
  to {
    --angle: 360deg
  }
}

@supports (background: paint(houdini)) {
  .bg-animation:hover:after {
      animation: rotate-animation 5s linear infinite;
      background: linear-gradient(var(--angle),#52525b,#52525b,#407cff,#da8bff,#fb7185);
  }
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
